   <!-- apple icons -->
    <link rel="apple-touch-icon" sizes="40x40" href="/icon/appleicon.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/icon/appleicon.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/icon/appleicon.png">
    <link rel="apple-touch-icon" sizes="80x80" href="/icon/appleicon.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/icon/appleicon.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/icon/appleicon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/icon/appleicon.png"> 
    
